*{
    box-sizing: border-box;
    margin: 0;
    
}

body{
    background-image: linear-gradient(90deg, rgb(28,195,8), rgb(140,208,132) );
    font-family: Helvetica, sans-serif;
    
    background-attachment: fixed;
}

select{
    width: 95%;
    left: 50%;
    position: absolute;
    top: 15px;
    border: none;
    transform: translateX(-50%);
    height: 25px;
    
   
}


input{
    position: absolute;
    height: 30px;
    bottom: 10px;
    width: 50%;
    border: solid 2px;
    left: 50%;
    transform: translateX(-50%); 
    text-align: center;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    
    
}

img{
    max-width: 100%;
    max-height: 100%;
}

p {
    text-align: center;
    color: aliceblue;
    font-size: large;
}

.conversion-rate{
    margin-top: 50px;
    width: 300px;
    position: relative;
 
}

.value-currency-two{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin-bottom: 5px;
    color: black;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
       
}

.painel-currency{
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 50px 0px 50px
    
    
}

.content-currency{
    border-radius: 20px;
    width: 300px;
    height: 120px;
    position: relative;
    background-color: aliceblue; 
}

.error-message{
    background-color:	#FFA07A;
    width: 400px;
    height: 50px;
    position: absolute;
    transition: 1s ease-in-out ;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    text-align: center;
}

.image{
    position: relative;
    top: 30px;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transition: .5s ease-in-out;
}

.image-rotate{
    transform: rotateY(360deg);
}

@media (max-width: 960px){
    .painel-currency {
        flex-direction: column;
        align-items: center;
        max-width: 500px;
        margin-top: 50px;
        

    }

    .image{
        top: 0;
    }
}